@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gruppo&family=Major+Mono+Display&family=Orbitron&display=swap");

:root {
  --width: 90px;
  --height: 20px;

  --avatarSmall: 35px;

  --margin: 2px 10px;
  --padding: 4px 0px;
  --time: 300ms;

  /* --rootW: 600px; */
  --mainWidth: clamp(100px, 90vw, 600px);
  --imgWidth: clamp(140px, 40vw, 160px);

  --anthracite: #292929;
  --blue: #336699;
  --shade01: 0px 5px 20px rgba(22, 22, 22, 0.4);
  --shade02: 0px 3px 10px rgba(22, 22, 22, 0.2);
  --shade03: 0px 2px 3px rgba(22, 22, 22, 0.2);
  --gradient01: linear-gradient(#336699, #132140);

  --orbitron: "Orbitron", sans-serif;
  --audiowide: "Audiowide", cursive;
  --majormono: "Major Mono Display", monospace;
  --gruppo: "Gruppo", cursive;
}
