.loginForm {
  width: 260px;
  height: 300px;
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--anthracite);
  background: ghostwhite;
  border-radius: 9px;
}
.loginForm > h4 {
  position: relative;
  display: block;
  width: fit-content;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgb(51, 102, 153),
    rgb(142, 186, 231)
  );
  border-image-slice: 1;
}

.loginForm > fieldset {
  border: none;
  width: 90%;
}

.loginForm > fieldset > .underline {
  width: 100%;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgb(51, 102, 153),
    rgb(142, 186, 231)
  );
  border-image-slice: 1;
}

.loginForm label {
  position: relative;
  width: 100%;
  font-size: 11pt;
  text-align: left;
}

.loginForm input {
  position: relative;
  width: 90%;
  font-size: 1rem;
  background: ghostwhite;
  border: none;
  outline: none;
}

/* .loginForm button {
  background: var(--gradient01);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px var(--blue);
  cursor: pointer;
  color: ghostwhite;
  height: 42.3px;
  transition: 0.25s;
  width: 153px;
}
.loginForm button:hover {
  box-shadow: 0px 1px 18px var(--blue);
} */

.loginForm > button {
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: ghostwhite;
  background: var(--gradient01);
  margin: 10px 0;
}

.loginForm > button:hover {
  background: var(--anthracite);
  cursor: pointer;
}

.loginForm .error {
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: red;
}
