.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--anthracite);
  z-index: 11;
  background: ghostwhite;
  border-radius: 8px;
  width: 280px;
  height: 340px;
  /* margin: 6rem auto 8.1rem auto; */
}
.loginForm h4 {
  /* font-family: "Raleway Thin", sans-serif; */
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.loginForm fieldset {
  border: none;
}

.loginForm .underline {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgb(51, 102, 153),
    rgb(142, 186, 231)
  );
  border-image-slice: 1;
}

.loginForm label {
  position: relative;
  width: 90%;
  /* font-family: "Raleway", sans-serif; */
  font-size: 11pt;
  text-align: left;
  /*  margin-top: 20px; */
}

.loginForm input {
  position: relative;
  width: 90%;
  font-size: 10pt;
  background: ghostwhite;
  border: none;
  outline: none;
  /* padding: 0.5rem 0; */
}

.loginForm button {
  background: var(--gradient01);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px var(--blue);
  cursor: pointer;
  color: ghostwhite;
  height: 42.3px;
  /* margin: 0 auto; */
  /* margin-top: 50px; */
  transition: 0.25s;
  width: 153px;
}
.loginForm button:hover {
  box-shadow: 0px 1px 18px var(--blue);
}

.loginForm .error {
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: red;
}
