@media only screen and (min-width: 700px) {
  nav .dropdown .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    text-decoration: none;
    background-color: var(--anthracite);
    transition: background-color 0.2s ease;
    font-size: 10px;
    font-weight: 400;
    color: ghostwhite;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: var(--shade01);
  }

  nav .dropdown .menu {
    cursor: s-resize;
  }

  nav .dropdown .dropdown .menu {
    cursor: e-resize;
  }
  nav .dropdown .dropdown .menu svg {
    rotate: 270deg;
  }

  nav .dropdown .menu:hover {
    background-color: black;
  }

  nav .menu.active {
    background-color: black;
  }

  nav .menu.active svg {
    stroke-width: 2px;
    stroke: var(--blue);
  }

  nav .dropdown {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  nav .dropdown .item {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: opacity 100ms ease-in, transform 200ms ease-in,
      visibility 200ms ease-in;
  }

  nav .dropdown .item {
    margin-top: 25px;
  }
  nav .dropdown .dropdown .item {
    margin-top: 0;
    margin-left: var(--width);
    transform: translateY(0px);
    transform: translateX(-30px);
  }

  nav .dropdown:hover > .item {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
  }

  nav .dropdown .user img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 700px) {
  nav .dropdown {
    width: 100%;
  }

  nav .dropdown .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
    height: var(--height);
    padding: var(--padding);
    background-color: var(--anthracite);
    transition: background-color 0.2s ease;
    pointer-events: none;
    box-shadow: var(--shade01);
  }

  nav .dropdown .item {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }

  nav a:hover,
  nav .dropdown > button:hover nav .dropdown .item a:hover {
    color: var(--blue);
  }

  nav .dropdown:hover > .menu {
    color: var(--blue);
  }

  nav .dropdown:hover > .item {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    background-color: black;
  }

  nav a.active,
  nav button.active {
    background: var(--blue);
  }
  nav a.active:hover,
  nav button.active:hover {
    color: var(--anthracite);
  }
  nav .dropdown .menu.active {
    color: var(--blue);
  }

  nav .dropdown .item a,
  nav .dropdown .item button {
    background-color: black;
  }
  nav .dropdown .item a.active {
    background: var(--blue);
  }

  nav .dropdown .user img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    border-radius: 50%;
  }
}
