main article {
  display: flex;
  flex-direction: column;
  width: var(--mainWidth);
  height: fit-content;
  margin-bottom: 30px;
  padding: 0;
  animation-fill-mode: forwards;
}
main article header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

main article header a,
main article header a:visited {
  text-decoration: none;
  color: var(--blue);
  font-style: normal;
  margin-right: 5px;
}

main article header h2 {
  width: fit-content;
  height: fit-content;
  margin: 0 1rem 0 0;
  padding: 0;
  text-transform: capitalize;
}
main article header div span {
  display: inline;
  width: fit-content;
  height: fit-content;
  margin: 0 0.4rem 0 0;
  padding: 0;
  /* text-transform: none; */
  color: var(--darkGrey);
  font-size: clamp(11px, 0.8rem, 30px);
}
main article header div time {
  width: fit-content;
  height: fit-content;
  margin: 0 0 0 0;
  padding: 0;
  text-transform: none;
  color: var(--darkGrey);
  font-size: clamp(11px, 0.8rem, 30px);
}

main article a,
main article a:visited {
  text-decoration: none;
  color: var(--blue);
  font-style: italic;
  text-align: right;
}

main article section {
  width: 100%;
  height: auto;
}

main article section img {
  border-radius: 50%;
  shape-outside: circle();
  float: left;
  margin: 10px 10px 0 0;
  width: var(--imgWidth);
  box-shadow: var(--shade01);
}

main article p {
  width: 100%;
  /* min-height: 160px; */
  height: fit-content;
  margin-top: 1rem;
}

main article p::after {
  content: "";
  clear: both;
}

/* @media only screen and (max-width: 700px) {
  main article header {
    display: block;
  }
} */
